* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: wheat !important;
}
/*nav ul design*/
nav ul {
  list-style-type: none;
  display: none;
}
/*nav ul a design*/
nav ul a {
  display: block;
  background-color: antiquewhite;
  padding: 20px;
  font-size: 17px;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(119, 25, 25);
  transition: color 1s ease, background 1s ease, padding 2s ease;
}
nav ul a:hover {
  background-color: transparent;
  color: #ffff;
  padding-left: 30px;
}
.nav-container img {
  width: 100px;
  align-self: center;
}
.nav-container {
  padding: 0 20px;
  background: bisque;
  border-bottom: 2px solid rgb(206, 73, 95);
  display: flex;
  justify-content: space-between;
}
.bar {
  width: 30px;
  height: 3px;
  margin: 7px;
  background: rgb(206, 73, 95);
}
.btn {
  padding: 2px;
  display: inline-block;
  border: 2px solid rgb(206, 73, 95);
  align-self: center;
}
header {
  min-height: 120vh;
  width: 100%;
  height: 500px;
  background-image: url("../images/header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;

  display: flex;
  flex-direction: column;
  width: 100%;
}
nav {
  flex: 0 0 auto;
}
/*banner design*/
.banner {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(48, 23, 27);
}
.banner h3 {
  text-transform: capitalize;
  font-size: 30px;
}
.banner-icons {
  padding: 20px;
}
.banner-icons a {
  display: inline-block;
  font-size: 30px;
  color: rgb(48, 23, 27);
  padding: 5px 10px;
  margin: 0 10px;
  transition: color 1s ease, transform 1s ease;
}
.banner-icons a:hover {
  color: #ad343e;
  transform: translateY(-10px);
}
nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}
@media screen and (min-width: 776px) {
  .nav-container {
    display: none;
  }
  nav ul {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(206, 73, 95, 0.8);
  }
  nav ul a {
    background: transparent;
  }
  nav ul a:hover {
    background: transparent;
    padding-left: 20px;
  }
}
@media (max-width: 400px) {
  nav ul {
    flex-wrap: wrap;
  }
  header {
    background-image: url("../images/header.jpg");
    background-size: 100% 100%;
  }
}

/*about us*/

.about {
  min-height: 100%;
  width: 100%;
  padding: 100px 0;
  background-image: url("../images/about.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}
.about-card {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  min-height: 150%;
  margin: 15px 0;
  padding: 30px 5px;
}
.about-card h3 {
  font-size: 40px;
  text-transform: uppercase;
}
.about-card .fa-user {
  font-size: 60px;
  color: #ad343e;
  margin: 20px 0;
}
.about-card p {
  line-height: 2;
}
@media (max-width: 480px) {
  .about {
    background-image: url("../images/about.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% 50%;
  }
}
@media screen and (min-width: 650px) {
  .about {
    min-height: 100vh;
    background-image: url("../images/about.jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% 70%;
  }
  .about-card {
    max-width: 85%;
    border-radius: 30px;
  }
  .about-card p {
    max-width: 95%;
    margin: 0 auto;
  }
  .filler {
    min-height: 60vh;
    background-image: url("../images/filler.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
/*services section design*/
.wrapper {
  margin-top: 10%;
  background-image: url("../images/filler.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.wrapper h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  margin-bottom: 60px;
  text-align: center;
}
.team {
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
  flex-wrap: wrap;
}
.team .section_page {
  background: rgba(255, 255, 255, 0.6);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: black;
  position: relative;
}
.team .section_page h3 {
  color: rgb(48, 23, 27);
  font-size: 26px;
  margin-top: 60px;
}
.team .section_page p.role {
  color: rgb(206, 73, 95);
  font-size: 12px;
  text-transform: uppercase;
  margin: 12px 0;
}
.team .section_page .section_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background: wheat;
}
.team .section_page .section_img img {
  width: 100px;
  height: 100px;
  padding: 10px;
}
/*contact design*/
.contact {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 80vh;
  width: 100%;
  height: 500px;
  background-image: url("../images/about.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-card {
  background: rgba(0, 0, 0, 0.6);
  flex: 0 0 80%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
}
form input {
  margin: 10px;
}
form h3 {
  text-align: center;
  text-transform: uppercase;
}
form input,
form textarea {
  padding: 5px;
  border: 3px solid rgb(206, 73, 95);
}
input::placeholder,
textarea::placeholder {
  text-transform: uppercase;
}
.form-btn {
  margin: 20px;
  font-size: 28px;
  border-radius: 40px;
  padding: 5px;
  background: rgb(206, 73, 95);
  transition: color 1s ease-in-out, background 1s ease-in-out;
  border: 1px solid rgb(206, 73, 95);
}
.form-btn:hover {
  color: red;
  background: wheat;
}
footer {
  background-color: wheat;
  padding: 60px 0;
  text-align: center;
}
.footer-icons a {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0 10px 20px 10px;
  padding: 2px 5px;
  color: rgb(48, 23, 27);
}
